<div class="card">
    <h3 class="card-header">Home Page</h3>
    <div class="card-body">
        <h1>Basic HTTP Client</h1>
        <p>เรียนรู้เรื่องของ HTTP Client</p>
        <hr>

        <div class="form-group">
            <h5>รายการข้อมูลที่ดึงมาจาก API ผ่าน Http Client</h5>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>UserId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.userId }}</td>
                </tr>
            </tbody>
        </table>


        <hr>
        <div class="form-group" *ngIf="isShowWorkshop == false">
            <button type="button" class="btn btn-primary" (click)="isShowWorkshop = true">
                Show Workshop
            </button>
        </div>

        <div class="row" *ngIf="isShowWorkshop == true">
            <div class="col-sm">
                <app-com1></app-com1>
            </div>
            <div class="col-sm">
                <app-com2></app-com2>
            </div>
        </div>
    </div>
</div>